@import '../plantStyles';

.Plant {
    @include plant();
    flex-direction: column;
    cursor: pointer;

    &__h3 {
        padding: 10px 0 5px 0;
        text-align: center;
    }

    &__info {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__div {
        display: flex;
        justify-content: center;
        margin: 10px 0;
    }

    @media (max-width: 900px) {
        & {
            @include bgColor();
        }
    }
}