@import '../../../scssSettings/colors';

.Plants {
    padding: 30px;
    width: 80%;
    margin: 0 auto;

    &__flowers {
        display: grid;
        justify-content: center;
        gap: 30px 50px;
        align-items: flex-start;

        &--columns {
            grid-template-columns: repeat(3, 1fr);

            @media (max-width: 1100px) {
                & {
                    grid-template-columns: 1fr 1fr;
                }
            }

            @media (max-width: 900px) {
                & {
                    grid-template-columns: 1fr;
                }
            }
        }

        &--rows {
            grid-template-columns: 1fr;
        }
    }

    &__layout {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding: 20px 0;
    }

    &__layouts {
        display: flex;

        @media (max-width: 900px) {
            & {
                display: none;
            }
        }
    }

    &__link {
        color: $color1;
    }

    @media (max-width: 1300px) {
        & {
            width: 100%;
        }
    }

    @media (max-width: 400px) {
        & {
            padding: 10px 10px 30px 10px;
        }
    }
}

.PlantsMore {
    display: flex;
    justify-content: center;
    padding-bottom: 30px;
}