@import '../../../scssSettings/colors';

.Plant {
    border: 0.5px solid $color4;
    padding: 10px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 6px 6px -4px $color4;
    border-radius: 3px;

    &__flowerIcon {
        display: flex;
        justify-content: center;
    }

    &__h3 {
        padding: 20px 0 0 0;
        text-align: center;
    }

    &__info {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__section {
        margin: 20px 0;
    }

    &__article {
        line-height: 1.5;
    }

    &__mark {
        font-weight: bold;
        background: transparent;
    }
}