@import '../../../scssSettings/colors';

.LoginTab {
    margin: 0 0 0 auto;
    text-decoration: none;
    color: $color2;
    border-radius: 3px;
    padding: 10px;
    background-color: $color4;
    transition: all 200ms ease-out;
    letter-spacing: 1px;
    display: flex;
    align-items: center;
    cursor: pointer;
    position: relative;
    user-select: none;
    word-break: break-all;

    &__nav {
        position: absolute;
        top: calc(100% + 7px);
        right: 0;
        width: 130px;
        background: $color5;
        display: flex;
        flex-direction: column;
        box-shadow: 0 6px 6px -2px $color4;
        border-radius: 3px;

        &::after {
            content: '';
            position: absolute;
            bottom: 100%;
            left: 70%;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 0 7px 7px 7px;
            border-color: transparent transparent $color5 transparent;
        }
    }

    &__item {
        text-align: center;
        text-decoration: none;
        color: $color4;
        padding: 10px;
        border-bottom: 0.5px solid $color4;

        &:hover {
            color: $color1;
        }
    }
}