@import '../../scssSettings/colors';

.Credentials {
    display: flex;
    justify-content: space-around;
}

.Credentials__link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: $color4;
    padding: 5px;
}

.Credentials__link--active {
    border-bottom: 0.5px solid $color4;
}

@media (max-width: 270px) {
    .Credentials {
        flex-direction: column;
    }

    .Credentials__link {
        justify-content: center;
    }

    .Credentials__link--login {
        margin-bottom: 5px;
    }
}