@import '../../../scssSettings/colors';

.Logo {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: $color4;

    &__h2 {
        font-size: 26px;
        letter-spacing: 2px;
        margin-left: 5px;
    }
}