@import '../../colors';

.Footer {
    height: 70px;
    background-color: $color4;
    color: $color2;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}